# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Virtual environment
backend/venv/
venv/

# Database
*.sqlite3
*.db

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vite / React
node_modules/
dist/
.vite/

# Django
backend/media/
backend/staticfiles/
frontend/
.vercel
